@import "~font-awesome/css/font-awesome.min.css";

body {
  background-color: rgb(232, 232, 232);
  color: #545454;
  min-height: 100%;
}

/* Disable bootstrap overiding material-ui font-weight on labels */
label {
  font-weight: inherit;
}
